.slider {
  margin-top: 1em;
  margin-bottom: 2em;
  position: relative;
  height: 255px;
  width: 100%;
}

.slider__img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.arrow-right {
  transform: rotate(-180deg);
  position: absolute;
  top: 45%;
  left: 5px;
  cursor: pointer;
}

.arrow-left {
  transform: rotate(180deg);
  position: absolute;
  top: 45%;
  right: 5px;
  cursor: pointer;
}

@media screen and (min-width: 750px) {
  .slider {
    height: 415px;
    border-radius: 25px;
  }
}