.card-container {
    width: 250px;
    height: 225px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.card-container:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card-container img {
    border-radius: 10px;
    width: 250px;
    height: 225px;
    object-fit: cover;
}

.infos {
    position: absolute;
    white-space: break-spaces;
    color: white;
    font-weight: 500;
    font-size: 13px;
    bottom: 15px;
    left: 12px;
}