.card-container {
    width: 250px;
    position: relative;
}

.card-container img {
    border-radius: 10px;
    width: 250px;
    height: 225px;
    object-fit: cover;
}

.infos {
    position: absolute;
    white-space: break-spaces;
    color: white;
    font-weight: 500;
    font-size: 13px;
    bottom: 15px;
    left: 12px;
}