header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

nav a {
    margin-left: 50px;
    color: #FF6060;
}

@media screen and (max-width: 750px) {
    nav a {
        margin-left: 19px;
        font-variant: small-caps;
    }
}