/* RESET */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  margin: 5%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body::after {
  content: '';
  display: block;
  height: 125px;
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #FF6060;
}

/* ERROR.JS */

.error-container {
  justify-content: center;
}

.error-container a {
  text-align: center;
  padding-top: 125px;
  padding-bottom: 150px;
}


.error-number {
  text-align: center;
  color: #FF6060;
  font-size: 200px;
  font-weight: 700;
}

.error-text {
  text-align: center;
  color: #FF6060;
  font-weight: 600;
  font-size: 18px;
}

.back-home-link {
  display: flex;
  justify-content: center;
}

.back-home-link a {
  color: #FF6060;
}

@media screen and (max-width:750px) {

  .error-number {
    padding-top: 120px;
    font-size: 100px;
    top: 50%;
    left: 50%;
  }

  .error-container nav a {
    font-variant: normal;
  }
}